/* ------------------------------------
Estilos para el footer y sus elementos 
 ------------------------------------*/
#idfooter {
  background-color: black;
  height: 15vh;
  
  } 
.footer_container{
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer_section{
  color: whitesmoke;
  margin: auto;
  text-align: center;
}
.footer_section a{
  text-decoration: none;
}
.footer_section h4{
  margin-top: 0; 
}
.img_icons{
  margin: 0;
  width: 20px;
  /* border-radius: 15% 40%; */
  /* background-color: whitesmoke; */
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%) hue-rotate(351deg) brightness(102%) contrast(92%); 
}
.img_icons:hover{
  scale: 2 2;
}

footer a{
  padding: 10px;
}