/* ------------------------------------
Estilos para el footer y sus elementos 
 ------------------------------------*/
 body{
  position: relative;
  padding-bottom: 1em;
  min-height: 100vh;
 }
#idFooter {
  background-color:  rgb(24, 23, 23);
  height: 15vh;
  width: 100%;  
  position: absolute;
  bottom: 0;
  } 
.footer_container{
  height: 15vh;
  width: auto;
  display: inline-flex;
}
.footer_section{
  /* background-color: red; */
  max-width: 30%;
  color: white;
  margin: auto;
  text-align: center;
}
.footer_section .logo-footer{
  width: 40%;
  height: 100%;
  object-fit: contain;
}
.footer_section a{
  text-decoration: none;
}
.titulo_socials{
  margin-bottom: 10px;
}
.img_icons{
  margin: 0;
  width: 20px;
  /* border-radius: 15% 40%; */
  /* background-color: whitesmoke; */
  filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(0%) hue-rotate(286deg) brightness(103%) contrast(103%);
}
.img_icons:hover{
  scale: 2 2;
}

.social_icon{
  padding-right: 30px;
}

main p{
  height: 100vh;
}
@media screen and (max-width: 768px){
  .footer_container{
    flex-direction: column;
  }
  p{
    font-size: small;
  }
  .socials_div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .copyright_div, .socials_div{
    max-width: 100%;
  }
  .logo-footer{
    object-fit: contain;
    transition: .2s linear all;
  }

  .logo-footer:hover{
    transform: scale(1.2);
  }
}