/* ------------------------------------
Estilos para el footer y sus elementos 
 ------------------------------------*/
#idfooter {
  background-color:  rgb(24, 23, 23);
  height: 15vh;
  width: 100%;  
  } 
.footer_container{
  height: 15vh;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer_section{
  color: white;
  margin: auto;
  text-align: center;
}
.footer_section a{
  text-decoration: none;
}
.titulo_socials{
  margin-bottom: 10px;
}
.img_icons{
  margin: 0;
  width: 20px;
  /* border-radius: 15% 40%; */
  /* background-color: whitesmoke; */
  filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(0%) hue-rotate(286deg) brightness(103%) contrast(103%);
}
.img_icons:hover{
  scale: 2 2;
}

footer a{
  padding-right: 30px;
}

main p{
  height: 100vh;
}