#idBody{
    background-image: url('/assets/img/fondoMindTech.jpg');
    background-size: cover;
    background-attachment: fixed;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


.container{
    height: 70vh;
    background:linear-gradient(to right top, #24242473,#24242473);
    background-size: cover;
    background-position: center;
    position: static;

    label{
        color: #ffffff;
    }
    

    .main{
            form{
                width: 100%;
                padding:40px;
                input:not(.check,.boton),select{
                    width: 100%;
                    margin-bottom: 10px;
                    height: 40px;
                    padding: 0px 20px;
                    font-size: 1.2rem;
                    border-radius: 20px;
                    border: 2px solid rgb(29, 152, 224);
                    background-color: #333333;
                    outline: none;
                    color:rgb(255, 255, 255);
                }
                .error input:not(.check,.boton),.error select{
                    border: 2px solid #ff0000;
                }
                .error-text{
                    color: #ff0000;
                    font-size: 1rem;
                    margin-top:0px;
                    margin-bottom: 10px;
                }
                .boton{
                    width: 30%;
                    box-sizing: content-box;
                    background-color: rgb(29, 152, 224);
                    border: 2px solid  rgb(29, 152, 224);
                    color: #ffffff;
                    padding: 1rem 1rem;
                    border-radius: 1rem;
                    font-size: 1rem;
                    font-weight: 500;  
                }
            }
    }
}



/*media querys para mobile PAGINA registrarse*/
@media (max-width: 1200px) {
    
        .main{
            
               form{
                width: 100%;
                text-align: center;
               
                input:not(.check,.boton),select{
                    width: 80%;
                    height: 35px;
                    font-size: 1rem;
                }
                .terminos{
                    width: 80%;
                    margin:0 auto;
                    font-size: 0.7rem;
                }
                .boton{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 70%;
                    padding: 0.8rem 0.8rem;
                    font-size: 0.8rem;
                }
                .ayuda{
                    text-align: left;
                    font-size: 0.8rem;
                }
               }
        }
}